a { color: #20687b !important; }
h1 { color: #225363 !important;}
.nav-link{color: #143746}
.button-active { color: #fff; background-color: #b08f26; border-color: #b08f26 !important} 
.active { color: #0c8996 !important; } 
.material-symbols-outlined { color: #20687b} 
.big-icon {font-size: 48px; }
.special-inline { display: inline-block}